@charset "utf-8";

* { 
    /*-webkit-user-select: none; */
   -webkit-tap-highlight-color: rgba(0,0,0,0);   
}

body {
   margin: 0;
   padding: 0;
   color: #555;
   font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 300;
   line-height: 1.625;
   overflow: hidden;
   background-color: rgba(185, 185, 200, .9); 
}

#zoom {
  zoom: 100%;
}
#index {
  text-align: center;
  margin-top: 5px;
}

.logo{
    width:1000px;
    height: auto;
}

#title {
  margin-top: 20px;
  margin-left: 800px;
}

#rosie-code {
   margin-top: 0px;
   margin-left: 200px;
   margin-right: auto;
   width: 1000px;
   height: 900px;
   /*border: 1px solid black;*/
   background-color: white; 
}

.preview {
  font-family: tahoma, arial, sans-serif;
   font-size: 29px;
  text-align: center;
  z-index: 2147483647;
  visibility : hidden;
  position: absolute;
  left: 1370px;
  top: 130px;
  color: purple;
}

#rosie-output {
   position: absolute;
   left: 1110px;
   top: 67px;
   width: 600px;
   height: 900px;
   background: url("../images/blank.png");
}

.level-text {
   background-color: white;
   width: 891px;
   padding: 5px;
   text-decoration: none;
   font-family: tahoma, arial, sans-serif;
   font-size: 19px;
   color: #2B5A22;
   margin-top: 10px;
   margin-left: 200px;
}

.level-text p {
  color: #ff7f50;
  text-decoration: underline;
  display: inline;
}

#level-h {
  text-decoration: underline;
  font-weight:bold;
}
A:link {text-decoration: none; color: grey;}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: rgba(102, 0, 102, .6);}

#virtual {
  background-color: rgba(185, 185, 200, 0.1); 
  border-radius: 15px;
  border: 2px solid white;
  border-color:  #40407f;
  position: absolute;
  top: 190px;
  left: 700px;
  width: 370px;
  height: 700px;
  padding: 2px;
  z-index: 0;
}

#rosie-toolbar {
   background-color: rgba(185, 185, 200, 1); 
   border-radius: 15px;
   border: 2px solid white;
   border-color:  #6d8933;
   position: absolute;
   top: 900px;
   left: 600px;
   padding: 2px;
   width: 140px;
   z-index: 2147483647;
}

#start-toolbar {
   background-color: #6d8933; 
   border-radius: 15px;
   border: 2px solid white;
   border-color: #7e5922;
   width: 200px;
   z-index: 2147483647;
   position: absolute;
   top: 700px;
   left: 850px;
}

.start-toolbar: hover {
  background: rgba(0, 100, 0, 1); 
}

button {
   outline: none;
   border: none;
   width: 135px;
   height: 35px;
   border-radius: 2px;
   margin-left: 0px;
   margin-right: 0px;
   display: inline-block;
   cursor: pointer;
}

#play-button { background: url("../images/showbuttonW.png")  0 no-repeat; background-position: 5px 5px; }
#play-button:active { background-position: 8px 8px; }

#start-button { background: url("../images/play.png")  0 no-repeat; background-position: 5px 5px; }
#start-button:active { background-position: 8px 8px; }


.background {
  position: absolute;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  opacity: 100;
  z-index: 1;
  visibility : hidden; 
}

.roof {
   position: absolute;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   opacity: 100;
   z-index: 2;
   visibility : hidden;
   left: 1110px;
   top: 67px; 
}


.wall {
   position: absolute;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   opacity: 100;
   z-index: 2;
   visibility : hidden;
   left: 1110px;
   top: 67px;
}


.door {
   position: absolute;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   opacity: 100;
   z-index: 2;
   visibility : hidden;
   left: 1110px;
   top: 67px;
}


.windows {
   position: absolute;
   opacity: 1;
   z-index: 2;
   visibility : hidden;
   left: 1110px;
   top: 67px;
}

.lights {
   position: absolute;
   opacity: 1;
   z-index: 2;
   visibility : hidden;
   left: 1110px;
   top: 67px;
}

.hint {
   position: absolute;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   opacity: 0;
   z-index: -1;
}

#hint1 {
   left: 400px;
   top: 280px;
}

#hint2 {
   left: 620px;
   top: 580px;
}

#repeat_hint {
  position: absolute;
  background-color: rgba(146, 166, 92, 0.5); 
  border-radius: 15px;
  border: 2px solid;
  border-color:  rgba(127, 144, 81, .6);
  text-align: center;
  padding: 2px;
  width: 150px;
  font-family: tahoma, arial, sans-serif;
  font-size: 16px;
}

#repeat_hint p{
  font-weight:bold;
  display: inline;
}

#remaining_hint {
  left: 850px;
  top: 200px;
  background-color: rgba(146, 166, 92, 0.5); 
  border-radius: 15px;
  border: 2px solid;
  border-color:  rgba(127, 144, 81, .6);
  text-align: center;
  padding: 2px;
  width: 200px;
  font-family: tahoma, arial, sans-serif;
  font-size: 16px;
}

#remaining_hint p{
  font-weight:bold;
  color: red;
  font-size: 24px;
}